agent: 1,type=virtio
allow-ksm: 0
balloon: 0
bios: ovmf
boot: order=ide2;net0
cores: 4
cpu: x86-64-v2-AES
efidisk0: local-lvm:vm-113-disk-0,efitype=4m,ms-cert=2023k,pre-enrolled-keys=1,size=4M
hostpci0: 0000:06:00.0,pcie=1,x-vga=1
hostpci1: 0000:06:00.1,pcie=1
ide0: local-lvm:vm-113-disk-1,size=310G,ssd=1
ide2: none,media=cdrom
machine: pc-q35-8.1,viommu=virtio
memory: 32768
name: roentgenium-win10
net0: e1000=EE:56:B4:FA:21:91,bridge=vmbr0,firewall=1
numa: 0
ostype: win10
scsihw: virtio-scsi-pci
smbios1: uuid=86366247-6d81-4c47-b43c-bb9d538c3372
sockets: 1
tpmstate0: local-lvm:vm-113-disk-2,size=4M,version=v2.0
usb0: host=1-5
usb1: host=1-7
usb2: host=1-3
vga: none
vmgenid: 33021a58-94b4-4740-ade3-5a25ab55ab2c
